body{
    background: white;
    font-family:  Arial, san-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
.navbar-logo {
      height: 70px; /* Adjust the height for better alignment */
      width: auto;
      margin-right: 10px; /* Space between logo and links */
    }
.navbar-brand {
      display: flex;
      align-items: center;
    }
.navbar-nav {
      margin-right: auto; /* Push links to the right */
    }

.container{

    display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
}
table{
    width: 50px;
    margin: 20px auto;

}
th, td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
th{
    background-color: #dfeaf5;
    color: #333;
    font-weight: bold;
}
.card {
            min-height: 150px; /* Ensure all cards have the same height */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }