<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage User</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="#">
        <img src="/logo.jpg" alt="G4 Logo" class="navbar-logo">
    </a>
</nav>
<div class="container">
    <h1>Sorry, You don't have sufficient permission to visit this page.</h1>

</div>
</body>
</html>